<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/el.css">
  <link rel="stylesheet" href="/static/vender.css">
  <script src="/static/vue2.js"></script>
  <script src="/static/el.js"></script>
  <style>
    
  </style>
</head>
<body>
  <div id="app">

    <el-select
        v-if = 'true'
        name = 'xmx'
        id="bbp"
        v-model="value"
        filterable
        allow-create
        default-first-option
        placeholder="请选择文章标签">
        <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value">
        </el-option>
    </el-select>

  </div>
</body>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
        options: [{
          value: 'HTML',
          label: 'HTML'
        }, {
          value: 'CSS',
          label: 'CSS'
        }, {
          value: 'JavaScript',
          label: 'JavaScript'
        }],
        value: []
      }
      }
    })
  </script>
</html>