<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Solution</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='iview/styles/iview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='vue.js') }}"></script>
    <script src="{{ url_for('static', filename='axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='iview/iview.min.js') }}"></script>
    <script src="{{ url_for('static', filename='richeditor/wangEditor.min.js') }}"></script>
    <style>
        .item-cnt {
            border: dashed 1px #aaa;
            padding: 5px 20px;
        }
    </style>
</head>
<body >
<div id="app" class="layout">
    <div class="header" style="display: none;">
        <i-Menu mode="horizontal" theme="dark" >
            <div class="layout-logo"></div>
            <div class='head-title'> </div>
            <div class="layout-nav">
                <Menu-Item name="1">
                    <Icon type="ios-navigate"></Icon>
                </Menu-Item>
            </div>
        </i-Menu>
    </div>
    
    <div id='main-right-div' style="overflow: hidden; padding: 20px;">
        <div class=".answer-dept">
            责任部门：<br>
            <div class='item-cnt'> [[answer.dept]] </div>
        </div>
        <br/>
        <div class=".answer-answer">
            整改情况：<br>
            <div id='answer-editor'></div>
        </div>
        <br/>
        <div class=".issue-tips">
            整改完成：
            <i-Switch v-model="answer.accept" >
                <span slot="open">是</span>
                <span slot="close">否</span>
            </i-Switch>
        </div>
        <br/>
        <hr/>
        <br/>
        <i-button type="primary" @click="save"> 保存 </i-button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i-button type="primary" @click="close"> 关闭 </i-button>
    </div>
    
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            answer: {"dept" : "{{ request.args.get('dept') }}", "issue_id" : {{ request.args.get('issue_id') }} },
            editor: null,
        },
        delimiters: ["[[","]]"],    //用于避免与flask冲突
        mounted: function() {
            // var cntHeight = window.innerHeight - 60 - 22;
            // document.getElementById('main-right-div').style.height = '' + cntHeight + 'px';
            var e = new wangEditor("#answer-editor")
            e.config.height = 500;  // 设置编辑区域高度为 500px  ，默认为 300px
            e.config.pasteIgnoreImg = false; // 显示paste图片
            e.config.uploadImgShowBase64 = true;
            e.config.zIndex = 10;
            e.create();
            window.editor = e;
            e.txt.html(this.answer.answer);
        },
        methods: {
            save: function() {
                var vm = this;
                var v = Object.assign({}, this.answer);
                v.accept = v.accept ? 1 : 0;
                v.answer = window.editor.txt.html();
                var url = "/answer/";
                axios.post(url, v).then(function (res) {
                    var data = res.data;
                    console.log(data);
                    if (data && data.status == 'OK') {
                        vm.$Message.success({background: true, content: 'Update success'});
                        if (window.opener) {
                            window.opener.location.reload(true);
                        }
                    } else {
                        vm.$Message.error({background: true, duration:5, content: data.msg});
                    }
                });
            },
            close: function() {
                window.close();
            },
        },
    });

    // editor.txt.html('<p>用 JS 设置的内容</p>') // 重新设置编辑器内容
    // editor.txt.append('<p>追加的内容</p>') 继续追加内容
    // 使用 editor.txt.html() 获取 html 
    // editor.disable() 禁用编辑器  editor.enable()

</script>
</body>
</html>