<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Stats Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='iview/styles/iview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='vue.js') }}"></script>
    <script src="{{ url_for('static', filename='axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='iview/iview.min.js') }}"></script>
    <script src="{{ url_for('static', filename='richeditor/wangEditor.min.js') }}"></script>
    <style>
        .item-cnt {
            /*border: dashed 1px #aaa;*/
            padding: 5px 20px;
        }
    </style>
</head>
<body >
<div id="app" class="layout">
    <div class="header" style="display: none;">
        <i-Menu mode="horizontal" theme="dark" >
            <div class="layout-logo"></div>
            <div class='head-title'> </div>
            <div class="layout-nav">
                <Menu-Item name="1">
                    <Icon type="ios-navigate"></Icon>
                </Menu-Item>
            </div>
        </i-Menu>
    </div>
    
    <div id='main-right-div' style="overflow: hidden; padding: 20px;">
        <div class=".dept">
            县直部门完成情况：<br>
            <div class='item-cnt'>
                <i-table :columns="tableHeaders" :data="tableDatasBM" border >
                    <template slot-scope="{ row, index }" slot="IDX">
                        [[index + 1]]
                    </template>
                    <template slot-scope="{ row, index }" slot="rate">
                        [[ row['rate'] ]] %
                    </template>
                </i-table>
            </div>
        </div>
        <br/>
        <div class=".xz">
            乡镇完成情况：<br>
            <div class='item-cnt'>
                <i-table :columns="tableHeaders" :data="tableDatasXZ" border >
                    <template slot-scope="{ row, index }" slot="IDX">
                        [[index + 1]]
                    </template>
                    <template slot-scope="{ row, index }" slot="rate">
                        [[ row['rate'] ]] %
                    </template>
                </i-table>
            </div>
        </div>
    </div>
    
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            issues: {{ g.iuuses | tojson}},
            answers: {{ g.answers | tojson}},
            depts_bm: {{ g.depts_bm | tojson}},
            depts_xz: {{ g.depts_xz | tojson}},
            tableHeaders: [
                {'title':'#', key:'IDX', width:100 , xslot:'IDX', type:'index'},
                {'title':'部门', key:'dept', sortable: false},
                {'title':'总问题数量', key:'sum_issue', sortable: true},
                {'title':'已整改完成数量', key:'fix_issue', sortable: true},
                {'title':'完成率(%)', key:'rate', sortable: true, slot:'rate'},
            ],
            tableDatasBM: [],
            tableDatasXZ: [],
        },
        delimiters: ["[[","]]"],    //用于避免与flask冲突
        mounted: function() {
            this.tableDatasBM = this.stats(this.depts_bm);
            console.log(this.tableDatasBM);
            this.tableDatasXZ = this.stats(this.depts_xz);
        },
        methods: {
            stats: function(depts) {
                let result = [];
                for (i in depts) {
                    let deptName = depts[i];
                    let item = {dept: deptName, sum_issue: 0, fix_issue:0, rate: 0};
                    for (j in this.issues) {
                        let issue = this.issues[j];
                        if (issue.depts && issue.depts.indexOf(deptName) >= 0) {
                            item.sum_issue++;
                        }
                    }
                    for (k in this.answers) {
                        let an = this.answers[k];
                        if (an.dept && an.dept.indexOf(deptName) >= 0 && an.accept == 1) {
                            item.fix_issue++;
                        }
                    }
                    if (item.sum_issue != 0) {
                        item.rate = parseInt(item.fix_issue / item.sum_issue * 100);
                    } else {
                        item.sum_issue = '';
                        item.fix_issue = '';
                        item.rate = '';
                    }
                    result.push(item);
                }
                return result;
            }
        },
    });

</script>
</body>
</html>