<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Issues</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='iview/styles/iview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='vue.js') }}"></script>
    <script src="{{ url_for('static', filename='axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='iview/iview.min.js') }}"></script>
</head>
<body>
<div id="app" class="layout">
    <div class="header" >
        <i-Menu mode="horizontal" theme="dark" >
            <div class="layout-logo"></div>
            <div class='head-title'> </div>
            <div class="layout-nav">
                <Menu-Item name="1">
                    <Icon type="ios-navigate"></Icon>
                    <a href = "add.html" target='_blank'> Add Issue </a>
                    <Icon type="ios-navigate"></Icon>
                    <a href = "../stats/info.html" target='_blank'> 统计 </a>
                </Menu-Item>
            </div>
        </i-Menu>
    </div>
    
    <div id='main-right-div' style="overflow: hidden;">
        <i-table :height="tableHeight" :columns="tableHeaders" :data="tableDatas" border >
            <template slot-scope="{ row, index }" slot="IDX">
                [[index + 1]]
            </template>
            <template slot-scope="{ row, index }" slot="actions">
                <a :href="'detail.html?id=' + row.id"> 详细 </a> &nbsp;
                <a :href="'update.html?id=' + row.id"> 修改 </a> &nbsp;
                <a @click="delIssue(row.id, index)"> 删除 </a> &nbsp;
           </template>
           <template slot-scope="{ row, index }" slot="fix">
                <span v-if="row.fix == 0" > 否 </span>
                <span v-else> 是 </span>
            </template>
        </i-table>
    </div>
    
    <div class="layout-footer-center" theme="dark"> &copy; </div>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            tableHeight: 300,
            tableHeaders: [
                {'title':'#', key:'IDX', width:60 , xslot:'IDX', type:'index'},
                // {'title':'id', key:'id', width: 60},
                {'title':'Task', key:'question', sortable: true},
                {'title':'Depts', key:'depts', sortable: true},
                {'title':'完成', key:'fix', sortable: true, slot:'fix', width: 100},
                {'title':'更新时间', key:'update_time', sortable: true, width: 120},
                {'title':'Actions', key:'actions', slot: 'actions', width: 220},
            ],
            tableDatas:  {{g.datas | tojson}},
        },
        delimiters: ["[[", "]]"],    //用于避免与flask冲突
        mounted: function() {
            var cntHeight = window.innerHeight - 60 - 27;
            document.getElementById('main-right-div').style.height = '' + cntHeight + 'px';
            this.tableHeight = cntHeight - 10;
        },
        methods: {
            delIssue: function(id, idx) {
                var vm = this;
                url = "/issue/" + id;
                var idx = idx;
                axios.delete(url).then(function (res) {
                    var data = res.data;
                    if (data && data.status == 'OK') {
                        vm.tableDatas.splice(idx, 1);
                        vm.$Message.success({background: true, content: 'Delete success'});
                    } else {
                        vm.$Message.error({background: true, duration: 5, content: data.msg});
                    }
                });
            }
        },
    });
</script>
</body>
</html>